# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10.1
language: swift
# cache: cocoapods
# podfile: Example/Podfile
before_install:
- gem install cocoapods --pre # Since Travis is not always on latest version
- pod repo update
# - pod install --project-directory=Example
script:
- pod lib lint --verbose
- carthage update
- xcodebuild -scheme CoreXLSXiOS
- xcodebuild -scheme CoreXLSXwatchOS
- xcodebuild -scheme CoreXLSXtvOS
- rm -rf /Users/travis/Library/Developer/Xcode/DerivedData/
- xcodebuild test -enableCodeCoverage YES -scheme CoreXLSXmacOS
# this runs the tests the second time, but it's the only way to make sure
# that `Package.swift` is in a good state and `swift test` can only generate
# coverage reports in Swift 5.0, see this issue for more details:
# https://github.com/apple/swift-package-manager/pull/1787
# FIXME: this will fail until we can restrict deployment target for SwiftPM to 
# macOS 10.11, which is probably possible with Swift 5.0 after this change
# https://github.com/apple/swift-evolution/blob/master/proposals/0236-package-manager-platform-deployment-settings.md
- swift test
after_success:
- bash <(curl -s https://codecov.io/bash)
