# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10.2
language: swift

env:
  global:
  - FRAMEWORK_NAME=CoreXLSX

jobs:
  include:
  - stage: lint
    osx_image: xcode10.2
    language: swift
    script:
      - ./lint.sh
  - &test
    stage: test
    osx_image: xcode10
    language: swift
    env: 
      - IOS_DEVICE='platform=iOS Simulator,OS=12.0,name=iPhone SE'
      - TVOS_DEVICE='platform=tvOS Simulator,OS=12.0,name=Apple TV 4K'
    script:
      - ./test_xcodebuild.sh
  - <<: *test
    osx_image: xcode10.1
    env: 
      - IOS_DEVICE='platform=iOS Simulator,OS=12.1,name=iPhone SE'
      - TVOS_DEVICE='platform=tvOS Simulator,OS=12.1,name=Apple TV 4K'
  - <<: *test
    osx_image: xcode10.2
    script:
      - ./test_swiftpm.sh
  - <<: *test
    osx_image: xcode10.2
    env: 
      - IOS_DEVICE='platform=iOS Simulator,OS=12.2,name=iPhone SE'
      - TVOS_DEVICE='platform=tvOS Simulator,OS=12.2,name=Apple TV 4K'
      - TESTS_PATH=$PWD/Tests/CoreXLSXTests
      - CODECOV_JOB=true
    script:
      - ./test_xcodebuild.sh
    before_deploy:
    - brew outdated carthage || brew upgrade carthage
    - carthage build --no-skip-current
    - carthage archive $FRAMEWORK_NAME
    deploy:
      provider: releases
      api_key:
        secure: yRKneqLvOwJO290lLrvET/BEW+46h9LjKbJYTNsszdMIVfkpm8Ts59vIQMnojs71dJ+b7A6ZiWtHFjKD9/pz7+LIKWLM+dWmaL0VJiZ3S2+XD6Oh9UOC+L+ePIFItVFQOrDpP3FaN8mo339TeFwFNIc+coirYM7ouD9eMg6alpHoqP7Yt9cHMv9OwpxeGW2ZThwVTXQWlAAXG5SAXCsdUFlwJuKzjsr0ePx9V9f5r7Md6fwjQnL9Cc61z7qpEg+UFa+Q4r5P5prgW4OvAD1rVmAMdGbg0Lj8G/hv035pkf0NVFxTzHMYx4qeJREx4AqAAThpzsn/47ZDSVhu9zXnrspLXKbgT7OHwMjOqhvGT9j9yYo9KiwsEa+LnJi67Hi2Vad6FeuIJ/pFnJ0A3DFYMFj0kg6KdkYIhuwur6ZQCuq7vIg8tqjyGyxqWYINLeRccrewGLgmDoI4JT5oNhYXDiLwzn7vOIPTzMZZbteVmy/hXprdJY8Jh/Wn6UTXB82zGfNKl2C8a6I47oHgT2G4Le/BG0MYUBjyfGXAvjZo09l7EAceL9C6NuAbyNLth6cdL7NoeD3PHxv5+1g6xVLaF+cx4ORGC7sa4Rs7PJf3xrWT0KfNTIjtksu8SVtzNZz6wTGxYu/R3qxKIAHRAUtM9DrXS1H4m6qW1At3g1Cw0oI=
      file: "$FRAMEWORK_NAME.framework.zip"
      skip_cleanup: true
      on:
        repo: MaxDesiatov/CoreXLSX
        tags: true
