# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10.1
language: swift
# cache: cocoapods
# podfile: Example/Podfile
before_install:
- gem install cocoapods --pre # Since Travis is not always on latest version
# - pod repo update
# - pod install --project-directory=Example
script:
- pod lib lint
- swift package generate-xcodeproj --xcconfig-overrides Package.xcconfig
- git checkout HEAD CoreXLSX.xcodeproj/xcshareddata/xcschemes/CoreXLSX-Package.xcscheme
- xcodebuild test -enableCodeCoverage YES -scheme CoreXLSX-Package
after_success:
- bash <(curl -s https://codecov.io/bash)
