trigger:
- main

jobs:
- job: lint
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./lint.sh
- job: pod
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./pod.sh
- job: test_xcodebuild_10_0
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.0,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.0,name=Apple TV 4K'
- job: test_xcodebuild_10_1
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.1,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.1,name=Apple TV 4K'
- job: test_xcodebuild_10_2
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.2.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.2,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.2,name=Apple TV 4K'
- job: test_xcodebuild_11_0
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_11
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=13.0,name=iPhone 8'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=13.0,name=Apple TV 4K'
- job: test_xcodebuild_11_1
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_11.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=13.1,name=iPhone 8'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=13.0,name=Apple TV 4K'
- job: test_xcodebuild_11_2
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_11.2
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=13.2,name=iPhone 8'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=13.2,name=Apple TV 4K'
- job: test_xcodebuild_11_3
  pool:
    vmImage: 'macOS-10.15'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_11.3
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=13.3,name=iPhone 8'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=13.3,name=Apple TV 4K'
- job: test_xcodebuild_11_4
  pool:
    vmImage: 'macOS-10.15'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_11.4
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=13.4,name=iPhone 8'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=13.4,name=Apple TV 4K'
      CODECOV_JOB: 'true'
      CODECOV_TOKEN: $(codecovToken)
- job: test_swiftpm
  pool:
    vmImage: 'macOS-10.15'
  steps:
  - script: ./test_swiftpm.sh

- job: test_linux_5_1
  pool:
    vmImage: 'Ubuntu 18.04'
  container: norionomura/swift:515
  steps:
  - script: ./test_swiftpm.sh
- job: test_linux_5_2
  pool:
    vmImage: 'Ubuntu 18.04'
  container: norionomura/swift:522
  steps:
  - script: ./test_swiftpm.sh
