trigger:
- master

jobs:
- job: lint
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./lint.sh
- job: pod
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./pod.sh
- job: test_xcodebuild_10_0
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.0,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.0,name=Apple TV 4K'
- job: test_xcodebuild_10_1
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.1,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.1,name=Apple TV 4K'
- job: test_xcodebuild_10_2
  pool:
    vmImage: 'macos-latest'
  steps:
  - bash: ./test_xcodebuild.sh Xcode_10.2.1
    env:
      IOS_DEVICE: 'platform=iOS Simulator,OS=12.2,name=iPhone SE'
      TVOS_DEVICE: 'platform=tvOS Simulator,OS=12.2,name=Apple TV 4K'
      CODECOV_JOB: 'true'
      CODECOV_TOKEN: $(codecovToken)
- job: test_swiftpm
  pool:
    vmImage: 'macos-latest'
  steps:
  - script: ./test_swiftpm.sh
